/data/.DS_Store filter=lfs diff=lfs merge=lfs -text
/data/.download_biokg.py.swp filter=lfs diff=lfs merge=lfs -text
/data/download_biokg.py filter=lfs diff=lfs merge=lfs -text
/data/generate_biokg_data.py filter=lfs diff=lfs merge=lfs -text
/data/processed/all_rules.pkl filter=lfs diff=lfs merge=lfs -text
/data/processed/all_rules.txt filter=lfs diff=lfs merge=lfs -text
/data/processed/all_rules_combined.pkl filter=lfs diff=lfs merge=lfs -text
/data/processed/biological_rules.pkl filter=lfs diff=lfs merge=lfs -text
/data/processed/composition_rules.pkl filter=lfs diff=lfs merge=lfs -text
/data/processed/composition_rules.txt filter=lfs diff=lfs merge=lfs -text
/data/processed/disease_rules.pkl filter=lfs diff=lfs merge=lfs -text
/data/processed/disease_rules.txt filter=lfs diff=lfs merge=lfs -text
/data/processed/domain_specific_rules.pkl filter=lfs diff=lfs merge=lfs -text
/data/processed/domain_specific_rules.txt filter=lfs diff=lfs merge=lfs -text
/data/processed/drug_rules.pkl filter=lfs diff=lfs merge=lfs -text
/data/processed/drug_rules.txt filter=lfs diff=lfs merge=lfs -text
/data/processed/entities_by_type.pkl filter=lfs diff=lfs merge=lfs -text
/data/processed/entity2id.pkl filter=lfs diff=lfs merge=lfs -text
/data/processed/entity2name.pkl filter=lfs diff=lfs merge=lfs -text
/data/processed/entity_id_to_name.pkl filter=lfs diff=lfs merge=lfs -text
/data/processed/entity_metadata.pkl filter=lfs diff=lfs merge=lfs -text
/data/processed/entity_properties.pkl filter=lfs diff=lfs merge=lfs -text
/data/processed/hierarchy_rules.pkl filter=lfs diff=lfs merge=lfs -text
/data/processed/hierarchy_rules.txt filter=lfs diff=lfs merge=lfs -text
/data/processed/id2entity.pkl filter=lfs diff=lfs merge=lfs -text
/data/processed/id2relation.pkl filter=lfs diff=lfs merge=lfs -text
/data/processed/id_to_type.pkl filter=lfs diff=lfs merge=lfs -text
/data/processed/mined_rules.pkl filter=lfs diff=lfs merge=lfs -text
/data/processed/pathway_rules.pkl filter=lfs diff=lfs merge=lfs -text
/data/processed/pathway_rules.txt filter=lfs diff=lfs merge=lfs -text
/data/processed/protein_rules.pkl filter=lfs diff=lfs merge=lfs -text
/data/processed/protein_rules.txt filter=lfs diff=lfs merge=lfs -text
/data/processed/relation2id.pkl filter=lfs diff=lfs merge=lfs -text
/data/processed/stats.pkl filter=lfs diff=lfs merge=lfs -text
/data/processed/symmetric_rules.pkl filter=lfs diff=lfs merge=lfs -text
/data/processed/symmetric_rules.txt filter=lfs diff=lfs merge=lfs -text
/data/processed/test_triples.npy filter=lfs diff=lfs merge=lfs -text
/data/processed/train_triples.npy filter=lfs diff=lfs merge=lfs -text
/data/processed/type_to_ids.pkl filter=lfs diff=lfs merge=lfs -text
/data/processed/valid_triples.npy filter=lfs diff=lfs merge=lfs -text
/data/raw/.DS_Store filter=lfs diff=lfs merge=lfs -text
/data/raw/biokg.links.tsv filter=lfs diff=lfs merge=lfs -text
/data/raw/biokg.metadata.disease.tsv filter=lfs diff=lfs merge=lfs -text
/data/raw/biokg.metadata.drug.tsv filter=lfs diff=lfs merge=lfs -text
/data/raw/biokg.metadata.pathway.tsv filter=lfs diff=lfs merge=lfs -text
/data/raw/biokg.metadata.protein.tsv filter=lfs diff=lfs merge=lfs -text
/data/raw/biokg.properties.cell.tsv filter=lfs diff=lfs merge=lfs -text
/data/raw/biokg.properties.disease.tsv filter=lfs diff=lfs merge=lfs -text
/data/raw/biokg.properties.drug.tsv filter=lfs diff=lfs merge=lfs -text
/data/raw/biokg.properties.genetic_disorder.tsv filter=lfs diff=lfs merge=lfs -text
/data/raw/biokg.properties.pathway.tsv filter=lfs diff=lfs merge=lfs -text
/data/raw/biokg.properties.protein.tsv filter=lfs diff=lfs merge=lfs -text
/data/raw/entities.txt filter=lfs diff=lfs merge=lfs -text
/data/raw/relations.txt filter=lfs diff=lfs merge=lfs -text
/data/raw/test.txt filter=lfs diff=lfs merge=lfs -text
/data/raw/train.txt filter=lfs diff=lfs merge=lfs -text
/data/raw/valid.txt filter=lfs diff=lfs merge=lfs -text
*.pkl !text -filter -merge -diff
*.npy !text -filter -merge -diff
